@inherits LayoutComponentBase

<div class="page container">
    <div class="pt-2">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>