<div>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <button class="btn btn-secondary btn-block">
            Home
        </button>
    </NavLink>
    <NavLink class="nav-link" href="chart">
        <button class="btn btn-primary btn-block">
            Chart
        </button>
    </NavLink>
    <NavLink class="nav-link" href="timetable">
        <button class="btn btn-primary btn-block">
            Time Table
        </button>
    </NavLink>
</div>