@page "/timetable"
@using Plants.Shared
@inject HttpClient Http

<h1>Plant humidity in time table.</h1>

@if (scores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var score in scores)
            {
                <tr>
                    <td>@score.TimeStamp.ToShortDateString() @score.TimeStamp.TimeOfDay</td>
                    <td>@score.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@exception

@code {
    private Score[] scores;
    string exception = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            scores = await Http.GetFromJsonAsync<Score[]>("Score");
        }
        catch (Exception e)
        {
            exception = e.ToString();
        }
    }
}